<div class="lg">
  <div class="div_table_login_logon">
  
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/root.css">

      <fieldset>
        <legend> Informe suas credenciais:</legend>
        <% if (message !="") { %>
          <section id="meuElemento" class=" <%= type  %>">
            <p><%= message  %></p>
          </section>
        <% } %>
        <form action="/login" method="post">
          <div class="div_iten_forms">
            <label for="">Cpf:</label>
            <input name="cpf" type="text">
          </div>
          <div class="div_iten_forms">
            <label for="">Senha:</label>
            <input name="senha" type="password">
          </div>
          <div class="div_iten_forms">
            <br>
            <button class="btn_salvar_login" type="submit">Logar</button>
            <button class="btn_cancelar_login" ><a href="/">Cancelar</a></button>
            <button class="btn_cadastrarnovouser_login" ><a href="/novousuario">Cadastrar</a></button>
          </div>
        </form>
      </fieldset>
    </div>
  </div>

  <script src="js/automation.js"></script>