<div class="card text-center">
    <div class="card-header">
  
    </div>
    <div class="card-footer text-body-secondary">
      FA | Soluctions.2025 Todos os direitos reservados.
      - Email: contato@fasolutions.com
      - Telefone: (11) 94240-0251
    </div>
  </div>